<div id="container">
  <div id="header">
    <div class="avatarSection">
      <div class="nameSection">{{modelType === 0 ? entity['firstName'] : entity['name']}}</div>
    </div>
    <div style="margin-right: 8px" *ngIf="modelType===1">
      <span class='add-member'>Add Member</span>
    </div>
  </div>
  <div id="body">
    <div
      class="message"
      [ngClass]="{ me: message.me }"
      *ngFor="let message of messages"
    >
      <ng-container *ngIf="modelType===0; else forChannel">
        <div style="font-weight: bold">{{message.me ? senderName : entity.firstName}}</div>
        <div class="messageContent">
          {{ message.body }}
          <div class="date">{{ message.date| date: 'dd/MM/yyyy hh:mm:ss'}}</div>
        </div>
      </ng-container>
      <ng-template #forChannel>
        <div style="font-weight: bold">{{getUserNameById(message.userId)}}</div>
        <div class="messageContent">
          {{ message.body }}
          <div class="date">{{ message.date| date: 'dd/MM/yyyy hh:mm:ss'}}</div>
        </div>
      </ng-template>
    </div>
  </div>
  <div id="footer">
    <div id="textarea">
      <textarea
        [(ngModel)]="message"
        (keyup.enter)="submitMessage($event)"
      ></textarea>
    </div>
    <div id="micIcon">
      <img src="../../assets/images/voiceIcon.svg"/>
    </div>
  </div>
</div>
